.save {
    background: orange;
}
.dice{
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    flex-grow: 1;
}
.die {
    height: 100px;
    width: 100px;
    font-size: 30px;
    /* transition: all 500ms; */
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.die img:hover {
    background-color: green;
}

@media screen and (max-width: 800px) {
    .die, .die img{
        height: 40px;
        width: 40px;
    }
}