.container{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 2px black;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-top: 5%;
}

.header{
    width: 100%;
    text-align: center;
}



.roll-btn-container{
    flex: 0 0 100%;
    text-align: center;
}
.roll-btn{
    box-shadow: 0 0 3px black;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
}

.roll-btn:hover{
    background-color: rgba(80, 80 ,80, .6);
    box-shadow: inset 0 0 3px black;
    color:white;
}

.showdice-enter {
    opacity: 0.01;
}

.showdice-enter.showdice-enter-active{
    opacity: 1;
    transition: opacity 500ms ease-in;
}